* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  /*  background color and font styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  .job-description {
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #000000;
    /* Text color on the background */
    position: relative;
    border-radius: 10px;
    border: 2px solid #041521;
    /* Border color for the job listings */
    margin: 10px 0;
    /* Add spacing between job listings */
    display: flex;
  }
  
  img {
    width: 200px;
    height: auto;
    margin-right: 10px;
  }
  
  .apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0f9bffed;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .apply-button:hover {
    background-color: #0f9bff;
    /* Button background color on hover */
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px;
    background: #0f9bffed;
    /*header color */
  }
  
  .header ul {
    list-style: none;
    display: flex;
  }
  
  .header span {
    color: #fff;
  }
  
  .header li {
    margin: 0 12px;
  }
  
  .header a {
    color: #fff;
  }
  
  .header a:hover {
    color: #222;
  }
  
  nav {
    background-color: #222;
    padding: 5px 20px;
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #0f9bffed;
  }
  
  .logo {
    flex: 1;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .logo h3 {
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
  }
  
  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    overflow: hidden;
  }
  
  .menu li {
    padding: 15px 10px;
    font-size: 20px;
  }
  
  .menu .icon {
    display: none;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .toggle-button {
    font-size: 30px;
    display: none;
  }
  
  /*      Not Working right now because we need javascript for that */
  
  /* Footer Section */
  .footer {
    background: #222;
    padding: 30px 0px;
    font-family: "Play", sans-serif;
    text-align: center;
  }
  
  .footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: #ffffff;
    font-size: 0.8em;
  }
  
  .footer .row a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
  }
  
  .footer .row a:hover {
    color: #0f9bffed;
  }
  
  .footer .row ul {
    width: 100%;
  }
  
  .footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
  }
  
  .footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 60px) {
    nav {
      display: block;
      position: relative;
      padding: 15px 20px;
    }
  
    .menu {
      margin-top: 15px;
      display: none;
    }
  }
  
  @media screen and (max-width: 620px) {
    .menu li {
      display: none;
    }
  
    .menu .icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 620px) {
    .menu.responsive {
      position: relative;
    }
  
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .menu.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  @media (max-width: 720px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
  
    .footer .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
  
    .footer .row a i {
      margin: 0% 3%;
    }
  }
  
  .job-listing {
    margin: 5px;
  }
  
  /* new*/
  
  
  header {
    width: 100vw;
    height: 150px;
    background-color: #5da5a4;
  }
  
  header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  main {
    background-color: #f0fafb;
  }
  
  .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .aligns-items-center {
    align-items: center;
  }
  
  .job-card {
    display: flex;
    padding: 30px;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .job-card {
      display: block;
      padding: 20px;
      margin-bottom: 50px;
    }
  }
  
  .job-card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  }
  
  .job-card p {
    font-size: 15px;
    color: #58a9a7;
    font-weight: 500;
    line-height: 1.4;
  }
  
  @media (max-width: 767px) {
    .job-card__info {
      padding-bottom: 20px;
    }
  }
  
  .job-card__info a:hover {
    text-decoration: none;
  }
  
  .job-card__info .img-c {
    height: 88px;
    width: 88px;
    margin-right: 15px;
  }
  
  @media (max-width: 767px) {
    .job-card__info .img-c {
      height: 60px;
      width: 60px;
      margin: -50px 0 10px 0;
    }
  }
  
  .job-card__info .img-c img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .job-card__info p {
    font-weight: 700;
    margin-bottom: 7px;
  }
  
  .job-card__info .tag-new {
    padding: 7px 10px;
    background-color: #58a9a7;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 11px;
    display: none;
  }
  
  .job-card__info .tag-featured {
    padding: 7px 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 11px;
    display: none;
  }
  
  .job-card__info h6 {
    color: #323838;
    font-size: 18px;
    font-weight: 700;
  }
  
  .job-card__info ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .job-card__info ul li {
    font-size: 15px;
    color: #939c9b;
    padding: 0 10px;
    position: relative;
  }
  
  .job-card__info ul li:before {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    top: 50%;
    background-color: #939c9b;
    border-radius: 50%;
    left: -2px;
    transform: translateY(-50%);
  }
  
  .job-card__info ul li:first-child {
    padding-left: 0;
  }
  
  .job-card__info ul li:first-child:before {
    display: none;
  }
  
  .job-card__info ul li:last-child {
    padding-right: 0;
  }
  
  .job-card.new .tag-new {
    display: block;
  }
  
  .job-card.featured {
    border-left: 5px solid #58a9a7;
  }
  
  .job-card.featured .tag-featured {
    display: block;
  }
  
  .job-card__tags {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    list-style-type: none;
  }
  
  @media (max-width: 767px) {
    .job-card__tags {
      padding-top: 20px;
      padding-left: 0;
      border-top: 1px solid #939c9b;
    }
  }
  
  .job-card__tags li {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 7px;
    border-radius: 4px;
    color: #58a9a7;
    font-weight: 500;
    background-color: #f1f7f5;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  
  .job-card__tags li:hover {
    background-color: #58a9a7;
    color: white;
  }
  
  .job-card__tags li:last-child {
    margin-right: 0;
  }
  
  .filter-tags-c {
    background-color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-top: -105px;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  }
  
  @media (max-width: 767px) {
    .filter-tags-c {
      padding: 20px;
      margin-bottom: 50px;
    }
  }
  
  .filter-tags-c ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .filter-tags-c ul li {
    display: flex;
    margin: 5px 15px 5px 0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .filter-tags-c ul li {
    margin-right: 10px !important;
    margin-bottom: 0;
    padding: 7px;
    background-color: #f1f7f5;
    margin: 0;
    color: #58a9a7;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  
  .filter-tags-c ul li span {
    background-color: #58a9a7;
    color: white;
    font-size: 25px;
    line-height: 1.3;
    padding: 0 5px;
    cursor: pointer;
    transition: all ease 0.2s;
    margin-left: 5px;
    border-radius: 5px;
  }
  
  .filter-tags-c ul li span:hover {
    background-color: black;
  }
  
  .filter-tags-c .clear-tags {
    color: #58a9a7;
    font-weight: 500;
    margin: 0;
    margin-left: 20px;
    border-bottom: 1px solid #58a9a7;
    cursor: pointer;
  }