@import url("./default.css");

.wrapper {
  background-color: #fafafa;
  display: flex;
  margin: 2rem;
  border-radius: 1.75rem;
}

.wrapper > .left {
  width: 20%;
  padding: 2rem;
}

.wrapper > .left > nav {
  margin-top: 1.5rem;
}

.wrapper > .left > nav > ul {
  list-style: none;
}

.wrapper > .left > nav > ul > li {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.wrapper > .left > nav > ul > li > a > i {
  margin-right: 1rem;
}

.left > nav > ul > li.active,
.left > nav > ul > li > a.active {
  background-color: #7faaf8;
  color: white;
}

.wrapper > .right {
  width: 80%;
  margin-top: 2rem;
  padding: 2rem;
}

.right > .my-profile {
  display: flex;
  flex-direction: column;
}

.right > .my-profile > .user-details {
  display: flex;
  justify-content: space-between;
  border: solid #e6e6e9;
  padding: 1.25rem;
  border-radius: 1rem;
}

.right > .my-profile > .user-details > .user {
  display: flex;
  justify-content: center;
}
.right > .my-profile > .user-details > .user > .avatar > img {
  width: 5rem;
}
.right > .my-profile > .user-details > .user > .name {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-between;
  margin-left: 1rem;
}

.right > .my-profile > .user-details > .edit {
  display: flex;
  align-items: center;
}

.right > .my-profile > .user-details > .edit > .edit-btn {
  padding: 0.8rem 1.25rem;
  background-color: transparent;
  border-radius: 1rem;
  border: solid #d5d5d7;
}

.right > .my-profile > .user-info {
  display: flex;
  justify-content: space-between;
  border: solid #e6e6e9;
  padding: 1.25rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
.right > .my-profile > .user-info > .info {
  padding: 1rem;
}

.right > .my-profile > .user-info > .info > .pinfo {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}

.right > .my-profile > .user-info > .info > .pinfo > .left-info,
.right > .my-profile > .user-info > .info > .pinfo > .right-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right > .my-profile > .user-info > .edit {
  display: flex;
  align-items: center;
}

.right > .my-profile > .user-info > .edit > .edit-btn {
  padding: 0.8rem 1.25rem;
  background-color: transparent;
  border-radius: 1rem;
  border: solid #d5d5d7;
}

/* Styling for the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Styling for the close button */
.close {
  cursor: pointer;
}

.modal-content > .btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.modal-content > .btns > .yesBtn,
.modal-content > .btns > .closeBtn {
  width: 40%;
}

.closeBtn,
.yesBtn {
  width: 50%;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 950px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrapper > .left {
    width: 100%;
    padding: 1rem;
  }

  .wrapper > nav {
    width: 100%;
  }

  .wrapper > .left > nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .wrapper > .left > nav > ul > li > a > i {
    margin-right: 0;
  }

  .wrapper > .left > nav > ul > li > a > span {
    display: none;
  }

  .wrapper > .right {
    width: 100%;
    padding: 0rem 1.5rem;
  }

  .wrapper > .right > .my-profile > .user-details > .user > .avatar {
    display: flex;
    align-items: center;
  }

  .wrapper > .right > .my-profile > .user-details > .user > .avatar > img {
    width: 2rem;
  }

  .wrapper > .right > .my-profile > .user-info {
    flex-direction: column;
  }

  .wrapper > .right > .my-profile > .user-details > .user > .name > h4,
  .wrapper > .right > .my-profile > .user-info > .info > h3,
  .left-info > .fname > h4,
  .left-info > .email > h4,
  .left-info > .bio > h4,
  .right-info > .lname > h4,
  .right-info > .phone > h4 {
    font-size: 0.9rem;
  }
  .wrapper > .right > .my-profile > .user-details > .user > .name > p,
  .left-info > .fname > span,
  .left-info > .email > span,
  .left-info > .bio > span,
  .right-info > .lname > span,
  .right-info > .phone > span {
    font-size: 0.7rem;
  }

  .wrapper > .right > .my-profile > .user-info > .edit {
    width: 100%;
  }

  .wrapper > .right > .my-profile > .user-info > .edit > button {
    width: 100%;
  }
}

a,
a:hover {
  text-decoration: none;
}

body > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  background: #0f9bffed; /*header color */
}

body > .header > ul {
  list-style: none;
  display: flex;
}

body > .header > span {
  color: #fff;
}

body > .header > ul > li {
  margin: 0 12px;
}

body > .header > ul > li > a {
  color: #fff;
}

body > .header > ul > li > a:hover {
  color: #222;
}

body > nav {
  background-color: #222;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

body > nav > .toggle-button > a,
body > nav > ul > li > a {
  color: #fff;
}

body > nav > .toggle-button > a:hover,
body > nav > ul > li > a:hover {
  color: #0f9bffed;
}

body > nav > .logo {
  flex: 1;
}

body > nav > .logo > a {
  display: flex;
  align-items: center;
  font-size: 24px;
}

body > nav > .logo > h3 {
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
}

body > nav > .menu {
  display: flex;
  align-items: center;
  list-style: none;
}

body > nav > .menu > li {
  padding: 15px 10px;
  font-size: 20px;
}

body > nav > .toggle-button {
  font-size: 30px;
  display: none;
} /*      Not Working right now because we need javascript for that */

/* Footer Section */
.footer {
  background: #222;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #ffffff;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #0f9bffed;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

/* Responsive Design */
@media screen and (max-width: 60px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .menu {
    margin-top: 15px;
    display: none;
  }
}
@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
